<h1>Taux de retraite</h1>

<div class="row">
  <div class="col-md-10">
    <div class="card" >
      <div class="card-header" ><strong>Formulaire</strong>  Taux de retraite </div>
      <div class="card-body">
        <form class="form-horizontal" [formGroup]="formulaire">

          <!-- FIRST ROW -->

          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="retraite"><strong>Retraite:</strong> </label>
            <div class="col-md-2">
              <input
                type="text"
                id="retraite"
                class="form-control"
                placeholder="retraite"
                formControlName="retraite"
                [class.is-invalid]="retraite.invalid && (retraite.dirty || retraite.touched)"
              />
              <small class="text-danger" *ngIf="retraite.invalid && (retraite.dirty || retraite.touched)">
                <div *ngIf="retraite.errors.required">champ requis</div>
              </small>
            </div>

            <div class="col-md-2">
            </div>
              <!-- 2nd input same row -->
              <label class="col-md-2 col-form-label" for="Prevoyancesociale"><strong>Prévoyance sociale</strong> </label>
            <div class="col-md-2">
              <input
                type="text"
                id="Prevoyancesociale"
                class="form-control"
                placeholder="Prevoyancesociale"
                formControlName="prevoyancesociale"
                [class.is-invalid]="Prevoyancesociale.invalid && (Prevoyancesociale.dirty || Prevoyancesociale.touched)"
              />
              <small class="text-danger" *ngIf="Prevoyancesociale.invalid && (Prevoyancesociale.dirty || Prevoyancesociale.touched)">
                <div *ngIf="Prevoyancesociale.errors.required">champ requis</div>
              </small>
            </div>
          </div>

          <!-- SECOND ROW -->

          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="Capitaledeces"><strong>Capitale décés</strong> </label>
            <div class="col-md-2">
              <input
                type="text"
                id="Capitaledeces"
                class="form-control"
                placeholder="Capitaledeces"
                formControlName="capitaledeces"
                [class.is-invalid]="capitaledeces.invalid && (capitaledeces.dirty || capitaledeces.touched)"
              />
              <small class="text-danger" *ngIf="capitaledeces.invalid && (capitaledeces.dirty || capitaledeces.touched)">
                <div *ngIf="capitaledeces.errors.required">champ requis</div>
              </small>
            </div>

            <div class="col-md-2">
            </div>
              <!-- 2nd input same row -->
              <label class="col-md-2 col-form-label" for="assurance"><strong>Assurance</strong> </label>
            <div class="col-md-2">
              <input
                type="text"
                id="assurance"
                class="form-control"
                placeholder="assurance"
                formControlName="assurance"
                [class.is-invalid]="assurance.invalid && (assurance.dirty || assurance.touched)"
              />
              <small class="text-danger" *ngIf="assurance.invalid && (assurance.dirty || assurance.touched)">
                <div *ngIf="assurance.errors.required">champ requis</div>
              </small>
            </div>
          </div>

          <!-- THIRD ROW -->

          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="Syndic"><strong>Syndic</strong> </label>
            <div class="col-md-2">
              <input
                type="text"
                id="Syndic"
                class="form-control"
                placeholder="Syndic"
                formControlName="syndic"
                [class.is-invalid]="syndic.invalid && (syndic.dirty || syndic.touched)"
              />
              <small class="text-danger" *ngIf="syndic.invalid && (syndic.dirty || syndic.touched)">
                <div *ngIf="syndic.errors.required">champ requis</div>
              </small>
            </div>
          </div>

          <div class="card-footer">
            <button
              type="submit"
              class="btn btn-sm btn-primary"
              [disabled]="formulaire.invalid"
              (click)="saveForm()"
            >
              <i class="fa fa-dot-circle-o"></i> Confirmer
            </button>
            <button
              type="reset"
              class="btn btn-sm btn-danger"
              (click)="resetForm()"
            >
              <i class="fa fa-ban"></i> Ignorer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

                <!-- Table -->
<div class="animated fadeIn" *ngIf="source">
  <div class="row card">
        <div class="card-header col-12">
          <i class="fa fa-users"></i><span>Tableau taux de retraite </span>
          <input #search
                 class="ml-1"
                 size="40"
                 type="text"
                 placeholder="Cherchez par code ou libelle"
                 (input)="onSearch(search.value)"
          />
          <i class="fa fa-search ml-1"></i>
        </div>

      <div class="card-body table-responsive ">
          <ng2-smart-table
            [settings]='settings'
            [source]='source'
            (deleteConfirm)='deleteretraite($event)'
            >
          </ng2-smart-table>
      </div>
  </div>
</div>
